*{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    font-size:xx-large;
}

.header
{
    position: fixed;
    width: 100%;
    height: 20%;
    background-color: yellow;
    top: 0px;
}

.main
{
    display: grid;
    grid-template-columns : 33.3% 33.3% 33.3%;
    grid-template-rows: 100%;
}